@use '../../styles/mixins' as mixins;
@use '../../styles/variables' as vars;

.ideas {
  .idea {
    padding: 20px;
    border: 1px solid vars.$teal;
    border-radius: 10px;
    & + .idea {
      margin-top: 20px;
    }

    .ideaLink {
      @include mixins.link;
    }
  }
}
