@use '../../styles/mixins' as m;

.segment {
  h1.title {
    @include m.h1;
  }

  h2.title {
    @include m.h2;
  }

  .description {
    font-size: 18px;
    margin-top: 5px;
  }

  .content {
    margin-top: 12px;
  }
}
